// Safari for OS X and iOS (San Francisco)
$font-safari: -apple-system;
// Chrome < 56 for OS X (San Francisco)
$font-chrome-osx: blinkmacsystemfont;
// Windows
$font-windows: 'Segoe UI';
// Android
$font-android: 'Roboto';
// Basic web fallback
$font-web: 'Helvetica Neue', arial, sans-serif;
// Emoji fonts
$font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-family-sans-serif: $font-safari, $font-chrome-osx, $font-windows, $font-android, $font-web, $font-emoji !default;

html {
	font-family: $font-family-sans-serif;
	font-size: 16px;

	@media screen and (min-width: 900px) {
		font-size: 18px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 20px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.75em;
}
